
h1, .time {
  font-family: 'Fascinate', cursive;
}
.lead, textarea {
  font-family: 'Manjari', sans-serif;
  font-weight: 100;
}
.day {
  font-family: 'Fascinate', cursive;
  color: #D1D646;
  font-size: x-large;
}
.year {
  font-family: 'Manjari', sans-serif;
  font-weight: 700;
  color: #D1D646;
  font-size: larger;
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-color: #151E3F;
  color: #D1D646;
  border-radius: 0;
  border-bottom: 10px solid #F97068;
}

.row {
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #D1D646;
  border-top: 1px dashed #000000;
  text-align: center;
}

.past {
  background-color: #F97068;
  color: black;
  border-top: 1px dashed #000000;
}

.present {
  background-color: #D1D646;
  color: black;
  border-top: 1px dashed #000000;
}

.future {
  background-color: #668f60;
  color: black;
  border-top: 1px dashed #000000;
}

.button {
  padding: 10px;
  text-align: center;
  border-top: 1px dashed #000000;
  size: 10px;
}
.saveBtn {
  color: #151E3F;
  background-color: #D1D646;
  display: inline-block;
  size: 10px;
}
.eraseBtn {
  display: inline-block;
  background-color: #D1D646;
  color: #151E3F;
  size: 10px;
}
